#hhh{
   display: flex;
   justify-content: center;
   align-items: center;
}
#reco{
    width: 1200px;
}
footer{
    background-color: rgb(29, 29, 29);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 30px;
}